img {
    width:100%;
}

.jumbotron {
    background-image: url(TwitterCover2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height:300px;
}

.navbar-brand {
    width:100px;
}

.navbar {
    font-size: 14px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    text-align: center;
    text-emphasis: bold;
}

td img {
    width:60px;
}

.col-md-6 {
    font-size: 20px;
}

